.back-to-user-list {
  margin-bottom: 8px;
  color: darkblue;

  a {
    display: flex;
    text-decoration: none;
  }

  a, .material-icons {
    color: inherit;
    align-items: center;
  }

  span {
    text-decoration: underline;
  }

  &:hover {
    color: blue;
  }
}
